<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h4>These are the coolest people</h4>
    <ol>
    {% for person in people %}
        <li>{{ person.firstname}}, {{ person.lastname}}
            <a href="show/{{ person.id }}">show</a>/
            <a href="edit/{{ person.id }}">edit</a>/
            <a href="delete/{{ person.id }}">delete</a>
        </li>
    {% endfor %}
    </ol>

    <a href="/add">Add a person</a>
</body>
</html>